div {
    display: inline-block;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    display: block;
}

.page-banner {
    text-transform: uppercase;
    text-align: center;
}

.banner-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2.4rem;  
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-hero-image {
    height: 50vh;
    width: 100%;
    background: url(../images/crop_night_electronics.jpg) no-repeat center 75%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-hero-image .lead {
    margin: 25px 0 0 0;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -1px 0 #1d2527, 0 1px #1d2527, 1px 0 #1d2527, 0 -1px #1d2527;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

.orange-text {
    color: orangered
}

.standard-text-color {
    color: rgba(255,255,255,.5);
}

body {
    max-width: 1200px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #1d2527;
}

.create-build-explore-container {
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.media-image {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    object-fit: contain;
    border-radius: 10% 10% 10% 10%;
}

.media-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.first-image {
    margin-top: 10px;
}

.section-divider {
    width: 80%;
    height: 2px;
    border: 0;
    background-color: orangered;
}

.object-margin {
    margin: 15px;
}

.object-padding {
    padding: 15px;
}

