div {
    display: inline-block;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    display: block;
}

.page-banner {
    text-transform: uppercase;
    text-align: center;
}

.banner-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 2.0rem;  
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-hero-image {
    height: 40vh;
    width: 100%;
    background: url(../images/crop_night_electronics.jpg) no-repeat center 75%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-hero-image .lead {
    margin: 25px 0 0 0;
    color: rgba(255, 255, 255, 0.74);
    text-shadow: -1px 0 #1d2527, 0 1px #1d2527, 1px 0 #1d2527, 0 -1px #1d2527;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

.orange-text {
    color: orangered
}

.standard-text-color {
    color: rgba(255,255,255,.5);
}

.btn-custom-color {
    background-color: #1d2527;
    color: orangered;
    border-color: orangered;
}

.btn-custom-color:hover {
    background-color: orangered;
    color:#FFF;
    border-color: #31347B;
}

/* NavBar custom color */

.navbar-custom { 
    background-color: #1d2527; 
}

.nav-link:hover {
    color: #00BAFF;
    transition: 0.75s;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: orangered; 
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,69,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: orangered;
} 

body {
    max-width: 1200px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #1d2527;
}

.create-build-explore-container {
    width: 100%;
    background-color: rgb(14, 14, 14);
}

.media-image {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    object-fit: contain;
    border-radius: 10% 10% 10% 10%;
}

.media-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.first-image {
    margin-top: 10px;
}

.section-divider {
    width: 80%;
    height: 2px;
    border: 0;
    background-color: orangered;
}

.object-margin {
    margin: 15px;
}

.object-padding {
    padding: 15px;
}

.form-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-links li a i {
    margin-top: 5px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: orangered;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    border-radius: 50%;
    color: black;
}

.carousel-container {
    margin: auto 0;
}

.carousel img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 200px;
    min-width: 100%;
    max-width: none;
}

.opening-time-subheader {
    color: rgba(255,255,255,.5);
    text-align: center;
    font-size: 1.0rem;  
    font-weight: 300;
    margin-bottom: 0;
}

.opening-day {
    color: orangered;
}

.opening-day-times {
    color: rgba(255,255,255,.5);
}